*{
    padding: 0;
    margin: 0;
    color: #fff;
}
body{
    background-color: #202020;
}

/*      NAVBAR       */


.navbar{
    background-color: #ffc107;
}
.nav-item{
    background-color: #ffc107;
}

.nav-link{
    color: #202020;
    font-weight: 600;
    margin: 0px 10px;
    
}
.nav-link:hover{
    color: #ffc107;
    background-color: #202020;
    border-radius: 20px;
}
.navbar-toggler{
    background-color: #202020;
    color: #ffc107;
}
.dropdown button{
    background: #ffc107;
    color: #202020;
    font-weight: 600;
}
.view{
    margin: 0;
    padding: 0;
    width: 100%;
}
.view h1{
    color: orange;
    text-align: center;
}
.view h3{
    text-align: center;
    font-size: 20px;
}
.logo {
  width: 150px;
   height: 100px;
   
  
}
.logo img{
    width: 150px;
   height: 100px;
   margin-left: 600px;
    
}
.view img{
    
   justify-content: center;
   margin-left: 450px;
   
}
.founder h3{
    text-align: center;
    color: orange;
}

.contact-buttons{
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.table-row-label-text{
    color: orange;

}
.founder{
    color: #ffc107;
    font-size: 12px;
}
.about{
    color: #fff;
    text-align: center;

}
.speciality-label{
    color: #fff;
    text-align: center;
}
.unordered{
    list-style: none;
   font-family: sans-serif;
    color: #ffc107;
    text-decoration: solid;
    text-align: center;
    letter-spacing: 1px;
}
.eco{
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.unorderedList{
    color: #ffc107;
    list-style: none;
    padding-left: 550px;
}
.trust1{
    
    box-shadow: 0px 0px 5px 2px #fff;
    background: #ffc107;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    width: 500px;
    height: 150px;
    margin-left: 475px;
    display: flex;
    font-size: 20px;
    color: #202020;

}

.trust1 a{
    color:#202020;
    text-decoration-style: solid;
}
.trust{
    position: relative;
    box-shadow: 0px 0px 5px 2px #ffc107;
    cursor: pointer;
   width: 100%;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-right: 10px;
    color: #ffc107;
}
.trust a{
    color: #ffc107;
    text-decoration-style: solid;
}


.bar{
    display: flex;
    justify-content: center;
    color: orange;
}
/* shipping */
#ship{
    background: #ffc107;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 55px
}
.bar-1{
    color: #fff;
    display: flex;
    justify-content: center;
}
.shipping{
    width: 100%;
    font-size: 18px;
    background: #ffc107;
    color: #202020;
    text-align: center;
    border-radius: 10px;
    

}
.shipping-h1{
    text-align: center;
    color: #202020;
}
.shipping p{
    font-size: 1.5rem;
    color: #202020;

}
.frame{
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   border-radius: 3px;
}

/*       PAYMENT PAGE       */

.payment-heading{
    display: flex;
    justify-content: center;
}

/*        GALLERY PAGE       */

.gallery-heading{
    display: flex;
    justify-content: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
#products{
    text-align: center;
}
.image h1{
    color: #fff;
}
.image img{
    width: 350px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
.image img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}
/*  areca */
#areca{
    width: 100%;
    background:#ffc107;
    
}
.areca-h1{
    text-align: center;
    color: #202020;
    
}
.areca-p{
    align-items: center;
    justify-content: center;
    width: 100%;
}
.areca-p img{
   
    width: 250px;
    height: 200px;
    border: 2px solid #ff3d0036;
    border-radius: 13px; 
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
.areca-p img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}
.text{
    background: #202020;
    align-items: right;
    justify-content: right;
    position: relative;
    display: flex;
    
    width: 350px;
    height: 250px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;

}
.text p{
    color: #ffc107;
}
.price{
    margin: 15px;
    text-align: center;
    
    width: 200px;
    color: #ffc107;
    background-color:#202020;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease;

}
.price:active{
    transform: scale(0.96);
}
.price a{
    color: #ffc107;
    text-decoration: none;
}
.price:hover{

}
.imagine{
    
    width: 250px;
    height: 200px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;

}


.order{
    margin-top: 25px;
}

.order h5{
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    background-color: #202020;
    border: 2px solid #ffc107;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}
.order span{
    font-weight: 800;
}
.order a{
    background-color: #ffc107;
    color: #202020;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 15px;
    text-align: center;
    margin-left: 510px;
}
/*           FEEDBACK        */

.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 55px;
}
.form{
    display: flex;
    flex-direction: column;
    
}
.input-name{
    width: 450px;
    height: auto;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    color: black;
}
.input-review{
    height: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: black;
    background-color: #fff;
}
.submit{
    margin: 10px;
    text-align: center;
    padding: 10px 50px 10px 50px;
    color: #202020;
    background-color: #ffc107;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}
.feedback-h1{
    text-align: center;
}

.display-review{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.display-review h6{
    font-size: 20px;
    font-weight: 400;
}
.display-review p{
    font-size: 15px;
}
.display-review button{
    font-size: 15px;
    font-weight: 400;
    color: black;
    background-color: #ffc107;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
}


/*           FOOTER         */

.footer{
    margin-top: 150px;
    background-color: #202020;
    width: 100%;
  }
  
  .brands{
    display: flex;
    padding-top: 50px;
    justify-content: center;
  }
  
  .footer p {
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color:  rgb(173, 169, 169);
    font-size: 50px;
    font-weight: 600;
  }
  
  .footer a{
    color: #ffc107;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 0px 30px 20px;
  }
  @media screen and (max-width: 600px) {
    #ship .container{
        width: 50%;
    }
    
   }
  